<!DOCTYPE html>
<html>
  <head>
    <title>TwitterFlow</title>
  </head>
  <body>
    <script type="text/javascript" src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
    <script type="text/javascript" src="/js/cast.js"></script>
  </body>
</html>
