<!DOCTYPE html>
<html>
  <head>
    <title>Receiver</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/TwitterFlow.css" />
  </head>
  <body>
    <div id="view"></div>
    <script type="text/javascript" src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script type="text/javascript" src="/js/react.js"></script>
    <script type="text/javascript" src="/js/reqwest.js"></script>
    <script type="text/javascript" src="/js/TwitterFlow.js"></script>
    <script type="text/javascript" src="/js/receiver.js"></script>
    <script type="text/javascript">
      var contentNode = document.querySelector("#view");
      React.renderComponent(TwitterList(), contentNode);
    </script>
  </body>
</html>
