html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: "Open Sans";
}

.tweet {
  padding: 40px 20px;
  border-top: 1px solid #eee;

  div.header {
    margin: 0 -2.5px;

    & > span
    {
      margin: 0 2.5px;
    }

    span.screen_name {
      font-size: 0.8/1em;
    }

    span.date {
      font-size: 0.8/1em;
    }

    margin-bottom: 5px;
  }
}
